{% extends 'base.html' %}

{% block title %}Change password | Unicorn AI{% endblock title %}

{% block body %}
<div class="container d-flex flex-column justify-content-center align-items-center flex-wrap" style="height: 100vh;">
    <h1 class="mb-4">Change password</h1>
    <form class="form bg-light rounded-4 col-lg-3 p-3 col-md-4 col-sm-6" action="" method="post">
        {% csrf_token %}
        <div>
            <label class="form-label" for="id_old_password">Old password:</label>
            <input class="form-control" type="password" name="old_password" autocomplete="current-password" autofocus=""
                required="" id="id_old_password">
        </div>
        <div class="mt-2">
            <label class="form-label" for="id_new_password1">New password:</label>
            <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required=""
                id="id_new_password1">
        </div>
        <div class="mt-2">
            <label class="form-label" for="id_new_password2">New password confirmation:</label>
            <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required=""
                id="id_new_password2">
        </div>
        <button class="btn btn-primary mt-3" type="submit">Submit</button>
    </form>
</div>
{% endblock body %}
<!-- TODO: complete bootstrap and add div's for every label-input block -->