{% extends 'base.html' %}

{% block page_title %}Unicorn | Home{% endblock %}

{% block body %}
<nav>
    {% if user.is_authenticated %}
    <span>Hi, {{ user.username }}!</span> <a href="{{ user.get_absolute_url }}">My Profile</a> | <a
        href="{% url 'logout' %}">Log out</a> | <a href="{% url 'password_change' %}">Change password</a> | <a
        href="{% url 'user_change' user.username %}">Update
        info</a> | <a href="{% url 'user_change_profile_picture' user.username %}">Change profile picture</a> | <a
        href="{% url 'user_detail' user.username %}">My web resume</a>
    {% else %}
    <span>Welcome to Unicorn AI! </span> <a href="{% url 'login' %}">Log in</a> | <a href="{% url 'signup' %}">Sign
        up</a>
    {% endif %}
</nav>
{% endblock body %}