{% extends 'base.html' %}

{% block title %}Home | Unicorn AI{% endblock %}

{% block body %}
<nav>
    {% if user.is_authenticated %}
    <span>Hi, {{ user.username }}!</span> <a href="{{ user.get_absolute_url }}">My Profile</a> | <a
        href="{% url 'logout' %}">Log
        out</a>
    | <a href="{% url 'password_change' %}">Change password</a> | <a href="{% url 'user_change' user.username %}">Update
        info</a> | <a href="{% url 'user_change_profile_picture' user.username %}">Change profile picture</a> |
    {% if not user.has_resume %}
    <a href="{% url 'resume_create' user.username %}">Create web resume</a>
    {% else %}
    <a href="{% url 'resume_update' user.username %}">Update resume</a>
    {% endif %}
    {% else %}
    <span>Welcome to Unicorn AI! </span> <a href="{% url 'login' %}">Log in</a> | <a href="{% url 'signup' %}">Sign
        up</a>
    {% endif %}
</nav>
<p>Search profiles:</p>
<form action="" method="post">
    {% csrf_token %}
    {{ user_search_form.as_p }}
    <button type="submit">Search</button>
</form>
{% endblock body %}