{% extends 'base.html' %}

{% block title %}user.name | Unicorn AI{% endblock %}

{% block body %}
<a href="{% url 'home' %}">Home</a>
{% if object.profile_picture %}
<div>
    <img src="{{ object.profile_picture.url }}" alt="User profile picture">
</div>
{% endif %}
<div>
    <span>Name: {{ object.name }}</span>
</div>
<div>
    <span>Username: {{ object.username }}</span>
</div>
<div>
    <span>Email: {{ object.email }}</span>
</div>
{% if object.has_resume %}
<div>
    <a href="{% url 'resume_details' object.username %}">View {{ object.name }}'s resume</a>
</div>
{% endif %}
{% endblock body %}